@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Inter:wght@300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  row-gap: 50px;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 70px;
  height: 150px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    142deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(224, 184, 80, 0.9752275910364145) 100%
  );
}
.title {
  margin-right: 40px;
  margin-bottom: 20px;
  font-family: "Segoe UI";
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  .img-title {
    margin-top: 25px;
  }
}
.form {
  width: 460px;
  justify-content: space-between;
  display: flex;
  height: 52px;

  border-radius: 4px;
}
.input {
  flex-grow: 1;
  padding: 15px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  color: black;
  border-radius: 4px;
}
.button {
  margin-left: 10px;
  font-size: 20px;
  color: #312d2d;
  width: 140px;
  height: 52px;
  border-radius: 4px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    142deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(50, 210, 219, 0.8799894957983193) 100%
  );
  line-height: 1;
  font-weight: 500;

  transition: background-color 0.3s ease-in-out;

  cursor: pointer;
}
.button:hover {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    142deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(42, 233, 196, 0.8799894957983193) 100%
  );
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 360px;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}

.card-city {
  font-weight: 500;
  font-size: 40px;
  line-height: 33px;
  color: black;
}
.card-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-value {
  font-size: 85px;
  line-height: 1;
}

.card-image {
  margin-top: 20px;
  max-width: 120px;
  height: 120px;
}

.card-discription {
  font-size: 26px;
  line-height: 40px;
}

.mask {
  width: 100%;
  height: 100%;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    142deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(224, 184, 80, 0.9752275910364145) 100%
  );
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(220, 220, 220) 40%,
    rgb(170, 170, 170) 98%,
    rgb(10, 10, 10) 100%
  );
  border-radius: 50%;
  position: relative;
}

.loader:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  filter: blur(3px);
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
/* .hide {
  opacity: 0;
} */
